<div class="panel">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<h3>Editando inventario</h3>
			</div>
		</div>
	</div>

<%= render 'form' %>

</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<%= link_to 'â† Volver', inventories_path %>
		</div>
	</div>
</div>