<div class="panel ">
	<div class="row">
		<div class="large-12 columns">
			<h2>Nuevo vendedor</h2>
		</div>

		<%= render 'form' %>
		<div class="row">
			<div class="small-8 large-centered columns">
				<h8 class="subheader"><i align='center'>La contraseña asignada de forma predeterminada para vendedor sera nombre.apellido</i></h8>
			</div>
			<%= link_to '← Volver', sellers_path %>
		</div>
	</div>