<div class="row">
	<div class="large-6 large-centered columns">
		<div class="panel radius">
			<div class="row">
				<div class="small-8 large-centered columns">
					<h2 align="center">Olvidaste tu contraseña?</h2>

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= devise_error_messages! %>

					<div><i>Escribe tu corro electrónico y en unos minutos recibiras las instrucciones de como recuperar tu contraseña</i>
						<br>
						<%= f.email_field :email, autofocus: true %>
					</div>

					<div class="row">
						<div class="small-4 large-centered columns"><%= f.submit "Enviar", class: "radius button center" %>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
