<div class="panel">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<h3>Editando cliente</h3>
			</div>
		</div>
	</div>

	<%= render 'form' %>

</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<%= link_to 'â† Volver', clients_path %>
		</div>
	</div>
</div>