<div class="panel ">
<div class="row">
	<div class="large-8 columns">
		<h2>Nuevo Cliente </h2>
	</div>
</div>

<%= render 'form' %>

<div class="row">
	<div class="large-9 columns">
		<div class="actions">
			<%= link_to 'â† Volver', clients_path%>
		</div>
	</div>
</div>

</div>
