</head>
<section class="hero">
	<div class="row">
		<div class="large-12 columns">
			<div class="main-wrapper">
				<br>
				<br>
				<h1>LA CICLERÍA CAFÉ TALLER</h1>
				<br>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns about-box">
			<div class="black-box">
				<h2>La excusa perfecta para consentir su salud y su bicicleta.</h2>
				<p>Pretendemos ser líderes en la motivación para el uso de la bicicleta.
					<p>Ropa deportiva / Medicina deportiva / Tecnología / Bicicleta y calidad de vida /Café con aroma de ciclismo</p>
					<a href="#" class="secondary small button">Conocer más     <i class="fi-arrow-right size-72"></i></a>
				</div>
			</div>
		</div>
	</section>

	<section class="hero-content"> 
    <div class="row">
      
      <div class="large-8 columns about-content">
        <h4>Lo que encuentras aquí.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      
      <div class="large-4 columns">
        
        <ul class="small-block-grid-2">
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
        </ul>
      </div>
          
    </div>
    </section>

	

	<div class="row">
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="http://goo.gl/6Bx7C1" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="#" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


