</head>
<section class="hero">
	<div class="row">
		<div class="large-12 columns">
			<div class="main-wrapper">
				<br>
				<br>
				<h1>LA CICLERÍA CAFÉ TALLER</h1>
				<br>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns about-box">
			<div class="black-box">
				<h2>La excusa perfecta para consentir su salud y su bicicleta.</h2>
				<p>Pretendemos ser líderes en la motivación para el uso de la bicicleta.
					<p>Ropa deportiva / Medicina deportiva / Tecnología / Bicicleta y calidad de vida /Café con aroma de ciclismo</p>
					<a href="#" class="secondary small button">Conocer más →</a>
				</div>
			</div>
		</div>
	</section>

	

	<div class="row">
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="http://goo.gl/6Bx7C1" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="#" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


