</head>
<section class="hero">
	<div class="row">
		<div class="large-12 columns">
			<div class="main-wrapper">
				<br>
				<br>
				<h1>LA CICLERÍA CAFÉ TALLER</h1>
				<br>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns about-box">
			<div class="black-box">
				<h2>La excusa perfecta para consentir su salud y su bicicleta.</h2>
				<p>Pretendemos ser líderes en la motivación para el uso de la bicicleta.</p>
				<p>Asesoría especializada para la compra de su bicicleta.</p>
					<a href="/services" class="secondary small button">Conocer más <i class="fi-arrow-right size-72"></i></a>
				</div>
			</div>
		</div>
	</section>

	<section class="hero-content"> 
		<div class="row">

			

			<div class="row">
				<div class="large-12 columns">
					<h2 align="center">LO QUE ENCUENTRAS AQUÍ</h2>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="medium-4 large-4 columns text-center">
					<img src="/images/cafe.jpg">
					<br>
					<h2>Café con aroma de ciclismo</h2>
					<p class="text-left">Un lugar tranquilo y con ambiente deportivo en el cual puedes compartir además de un caé con tus amigos y compañeros de ciclismo, tus experiencias y pasar un rato agradable.</p>
					<a href="/coffe_shop" class="radius button center">Conocer más</a>
				</div>
				<div class="medium-4 large-4 columns text-center">
					<img src="/images/taller.jpg">
					<br>
					<h2>Asistencia técnica y mantenimiento</h2>
					<p class="text-left">Consentimos tu bicicleta con reparación y mantenimiento general, para que en cada salida por las carreteras no tengas ningún inconveniente y tengas la confianza de que llegarás seguro a casa.</p>
					<a href="/workshop" class="radius button center"> Asistencia técnica.</a>
				</div>
				<div class="medium-4 large-4 columns text-center">
					<img src="/images/medicina.jpg"/></a>
					<br>
					<h2>Salud y rendimiento deportivo.</h2>
					<p class="text-left">La persona que desea iniciarse en la actividad física, así como el deportista de alto rendimiento, necesitan una valoración médica especializada antes de comenzar a ejercitarse.</p>
					<a href="/health" class="radius button center">Conocer más</a>
				</div>
			</div>

		</div>
	</section>

	

	<div class="row">
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="http://goo.gl/6Bx7C1" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="large-6 columns">

			<div class="panel">

				<div class="row">
					<div class="large-6 columns">
						<h4>Visitanos!</h4>
						<p>Horario de atención: Lunes a Sabado 9am - 7pm.</p>
						<p>Carrera 16 # 19-28 | Duitama, Colombia</p>
						<div class="large-3 columns">
							<a href="#" class="radius button center">Como llegar?</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


