<div class="row">
	<div class="small-8">
		<br>
		<br>
		<br>
		<h1>Editar Accesorio - Parte</h1>
	</div>
</div>

<%= render 'form' %>
<div class="row">
	<div class="small-8">
<%= link_to 'Ver', @accesory_part %> |
<%= link_to 'â† Volver', accesory_parts_path %>
</div></div>



