<div class="panel ">
	<div class="row">
		<div class="small-8">
			<br>
			<br>
			<h3>Nuevo Accesorio - Repuesto</h3>		
		</div>
	</div>
	<%= render 'form' %>
	<div class="row">
		<div class="small-8">
			<%= link_to 'â† Volver', accesory_parts_path %>
		</div>
	</div>
</div>


