<header>
        <div class="row">
          <div class="large-12 column">
            <img src="/images/front.jpg">
          </div>
        </div>
      </header>
    <br>
      <div class="row">
        <div class="medium-3 large-3 text-center columns">
          <img src="http://placehold.it/150x150&text=[things]">
            <h2>Café</h2>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
        </div>
        <div class="medium-3 large-3 text-center column">
          <img src="http://placehold.it/150x150&text=[things]">
            <h2>Taller</h2>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
        </div>
        <div class="medium-3 large-3 text-center column">
          <img src="http://placehold.it/150x150&text=[things]">
            <h2>Salud</h2>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
        </div>
        <div class="medium-3 large-3 text-center column">
          <img src="http://placehold.it/150x150&text=[things]">
            <h2>Bicicletas</h2>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
        </div>
      </div>