<p>Hola <%= @resource.username %></p>

<p>Puedes cambiar tu contraseña en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio de tu contraseña, por favor ignora este correo.</p>
<p>Tu contraseña no será cambiada hasta que ingreses a el link de la parte superior y la cambies.</p>
