<div class="panel ">
	<div class="row">
		<div class="large-8 columns">
			<h2>Editar venta </h2>
			<br>
			<br><br>
		</div>
	</div>


	<%= render 'form' %>

	<div class="row">
		<div class="large-9 columns">
			<div class="actions">
				<%= link_to 'â† Volver', sales_path %>
			</div>
		</div>
	</div>
</div>
