<% flash.each do |key, value| %>
<%if key== "notice"%>
<% key="success"%>
<%else%>
<%end%>
<div id="myModal" class="reveal-modal small" data-reveal>
  <h4 class="subheader" align= "center"><%= value %></h4>
  <p class="lead"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<a class="close-reveal-modal">&#215;</a>
<% end %>